@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #0A0A0A;
    color: #F2F1ED;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    background-color: #0A0A0A;
  }

  * {
    box-sizing: border-box;
  }
}
